NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDlgupOyTBYlfKQO6uH2rLyltwkcjDShqc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=babelink-ia.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=babelink-ia
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=babelink-ia.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=724975834078
NEXT_PUBLIC_FIREBASE_APP_ID=1:724975834078:web:6635e8da6ac5b3e3a9034f
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-809T7BSL5S
